.trigger-box {
  display: inline-block;
  padding: 10px;
  border: 1px solid #aaa;
  background-color: #eee;
}

.trigger-box a {
  text-decoration: none;
}

.panel {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #aaa;
}
